<script type="text/ng-template" id="falcorModalTemplate.tpl.html">
</script>


<div class="container-fluid">


  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Last Title Experiment</h3>
        </div>

        <div class="panel-body">
          <h5>These buttons view or manipulate the first genre's last title.</h5>
          <h5>The tests consists of a question, shown as green-colored text in quotes, followed by the answer retrieved. The answer is sometimes a simple value, but is often a JSON object.</h5>
          <button type="button" class="btn btn-sm btn-primary btn-bigfont" ng-click="falcor.falcorTest('t2', 'lastTitle')">
          Last Title
          </button>

          <button type="button" class="btn btn-sm btn-default btn-bigfont" ng-click="falcor.falcorTest('t2', 'addTitle')">
          Add Title
          </button>

          <button type="button" class="btn btn-sm btn-default btn-bigfont" ng-click="falcor.falcorTest('t2', 'removeTitle')">
          Remove Title
          </button>

          <ul class="list-group pre-scrollable" scroll="falcor.falcorLog.t2">
            <li class="list-group-item" ng-repeat="msg in falcor.falcorLog.t2 track by $index">
      <!-- htmlmin:ignore -->
              <json-formatter json="msg" open="55">
              </json-formatter>
      <!-- htmlmin:ignore -->
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Falcor-provided Tests</h3>
        </div>

        <div class="panel-body">
          <h5>These are the tests provided with the Falcor Router Demo</h5>
          <h5>The tests consists of a question, shown as green-colored text in quotes, followed by the answer retrieved. The answer is sometimes a simple value, but is often a JSON object.</h5>
          <button type="button" class="btn btn-sm btn-default btn-bigfont" ng-click="falcor.falcorTest('t1', 'default')">
          Falcor Test
          </button>

          <ul class="list-group pre-scrollable" scroll="falcor.falcorLog.t1">
            <li class="list-group-item" ng-repeat="msg in falcor.falcorLog.t1 track by $index">
      <!-- htmlmin:ignore -->
              <json-formatter json="msg" open="55">
              </json-formatter>
      <!-- htmlmin:ignore -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-bottom">
    <div class="col-xs-12">
      <div class="text-center">
        <h5>&copy;&nbsp;2016&nbsp;<a target="_blank" href="http://monarchinitiative.org">Monarch Initiative</a></h5>
      </div>
    </div>
  </div>

</div>


